

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.topo{
    /* padding: 0px 20px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    position: fixed;
    width: 100%;
}

.pesquisas {
    align-content: center;
    position: relative;
    width: 50%;
}

#icone-busca {
    align-content: center;
    position: absolute;
    top: 40%;
    margin-left: -2rem;
}

.input-pesquisa {
    width: 80%;
    height: 40%;
    border-radius: 30px;
    text-align: center;
}

.acoes{
    display: flex;
}

#fontes{
    font-size: 2rem;
    margin-left: 1rem;
    align-content: center;

}

main{
    display: flex;
    background-color: #10102f ;
    width: 100%;
}

footer{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 18rem;
    height: 20rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    border: 1px solid #ddd;
    margin: 1rem;
    /* flex-wrap: wrap; */
}


.card img {
    width: 100%;
    height: 200px; /* Limita a altura da imagem */
    object-fit: cover; /* Garante que a imagem cubra a área sem deformar */
}


.card-content {
    padding: 15px;
}


.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


.card-description {
    font-size: 14px;
    color: #555;
}

